.name-title {
    font-family: Helvetica;
    font-weight: bolder;
    font-size: xx-large;
    letter-spacing: 5px;
}

.container1 {
    display:flex;
    justify-content:center;
}

li {
    list-style-type: none;
    float: right;
} 

a {
    padding: 10px;
    color:green;
}


body {
    padding:80px;
}


.quote {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    word-spacing: 5px;
}
p {
    font-family:Courier;
}



.container {
    display:flex;
    align-items: center;
    justify-content: center;
}
