.name-title {
    font-weight: bolder;
    font-size: xx-large;
    letter-spacing: 5px;
    color: white;
    padding-left: 27px;
    margin: 2px;
}

.container1 {
    display:flex;
    justify-content: space-between;
    padding-top: 65px;
    padding-right: 80px;
}

li {
    list-style-type: none;
    float: right;
} 

a {
    padding: 10px;
    color:white;
    text-decoration:none;
}


h3 {
    font: bolder 25px Times;
    color: white;
}


#about-portfolio-body {
    background-image: url(./images/spark\ 3.jpg);
    padding: 0 45px;
}

#index-body {
    display:grid;
    background-image: url(./images/spark\ 3.jpg);
    background-size: cover;
    height: 100vh;
}

.quote {
    color: white;
    padding-top: 10%;
    padding-left: 45%;
    font-size: 1.6rem;
    font: 1.6rem times
}

p {
    font: 20px monospace;
    padding: 30px;
    font-weight:500;
    color:white;
}

.about-container {
    padding: 45px;

}
.image {
    display:flex;

}

.portfolio-container {
    padding: 45px;
}

#contact_form {
    color:white;
}
#contact_form_display {
    display: grid;
    justify-items: center;
}

label {
    color: white;
    font: 18px Courier;
}

.textbox:hover {
   background-color: rgb(5, 116, 141);
   border:2px solid lightblue;
}

input {
    width: 40rem;
    height: 10%;
}

input[type="submit"] {
    font: 20px Courier;
    color: white;
    background-color: rgb(26, 67, 97);
    width:22%;
    height:12%;
    position: relative;
    left: 40%;

}

input[type="submit"]:hover {
   background-color: rgb(28, 78, 92);
   border: 3px solid lightblue;
}
